.tableComponent {
  font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
  border-collapse: collapse;
  width: 800px;
  border: 1px solid #ddd;
}

.tableComponent td,
.tableComponent th {
  border-bottom: 1px solid #ddd;
  padding: 8px;
  text-align: center;
}

.tableComponent th {
  padding-top: 12px;
  padding-bottom: 12px;
  text-align: center;
  background-color: #4caf50;
  color: white;
}

tbody {
  display: block;
  overflow: auto;
  height: 360px;
  width: 100%;
}

thead tr {
  display: table;
  width: 100%;
  table-layout: fixed;
}

thead,
tbody tr {
  display: table;
  width: 100%;
  table-layout: fixed;
}

thead {
  width: calc(100% - 1em)
}

.trHeight {
  height: 35px;
}